{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Library</title>
    <link rel="stylesheet" href="{% static 'CSS/footer.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/nav.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    <script src="https://kit.fontawesome.com/bd735b1809.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="na">
        <h2>
            <img src="{% static 'images/logo2.jpg' %}" alt="logo">
            Online Library
        </h2>
        <div class="links">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li>
                    <input type="text" id="Search" placeholder="Search here" onkeypress="Search(event)">
                </li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url 'sign_up' %}">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="parent">
        <div class="container">
            <div class="item1">
                <div class="image1">
                    <div class="im1" id="pre"></div>
                    <a href="#">Preview</a>
                    <div class="bt">
                        <button class="but1">Borrow</button>
                        <button class="but2">Want to Read</button>
                    </div>
                </div>
            </div>
            <div class="item2">
                <div class="c1">
                    <p class="check">Check nearby libraries</p>
                    <ul class="ch">
                        <li><a href="#">Library.link</a></li>
                        <li><a href="#">WorldCat</a></li>
                    </ul>
                </div>
                <div class="c2">
                    <p class="check">Buy this book</p>
                    <ul class="ch">
                        <li class="bb"><a href="#">Better World Books</a></li>
                        <li class="bb"><a href="#">Amazon</a></li>
                        <li class="more"><a href="#">More</a></li>
                    </ul>
                </div>
            </div>
            <div class="item3">
                <h1 id="ma"></h1>
                <div class="ed">.ed</div>
                <h3> id="by"></h3>
                <ul class="rate">
                    <li class="ra">136 Ratings</li>
                    <li class="ra">2001 Want to read</li>
                    <li class="ra">208 Currently reading</li>
                    <li class="ra">164 Have read</li>
                </ul>
                <div class="read">
                    <p id="desc"></p>
                    <ul class="time">
                        <li>Publish Date: February 2023</li>
                        <li id="pub"></li>
                        <li>Language: English</li>
                        <li>Pages: 384</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container5">
        <h2>
            <img src="{% static 'images/logo2.jpg' %}" alt="logo">
            Online Library
        </h2>
        <p>&copy; 2024. All rights reserved.</p>
        <ul>
            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
            <li><i class="fa-brands fa-x-twitter"></i></li>
            <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
            <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
        </ul>
    </div>
    <script src="{% static 'Javascript/search.js' %}"></script>
    <script src="{% static 'Javascript/main3.js' %}"></script>
</body>
</html>
