*{
    box-sizing: border-box;

}
#add,#view_book {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 90vh;
    background-color: #612c10aa;
    padding: 20px;
    display: none;

}
.f{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
#bookName,#Author,#Category,#Description,#Language ,#Publication {
    width:70%;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.button{
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
::-webkit-resizer {
    display: none;
}
input:focus-visible ,textarea:focus-visible{
    outline: 1px solid #009ea3;
}
#addbook{
    margin-top: 11px;
    background-color: red;
}
#delete_book{
    margin-top: 10%;
    background-color: white;
}
#details_book{
    background-color: white;
}
.deletebtn{
    display: inline-block;
    padding: 12px 21px;
    cursor: pointer;
    border-radius: 5px;
    background-color:red;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}
/* #view_book{
    top: 10%;
} */
.search{
    position: relative;
    top: 4%;
    left: 62.5%;
    transform: translate(-50%,-50%);
}
#details_book{
    position: relative;
    top: 33%;
    width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid gray;
    border-radius: 5px;


}
#delete_book{
    position: relative;
    top: -2%;
    width: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid gray;
    border-radius: 5px;

}
.view{
    position: relative;

}
.vitem1 {
    margin-top: 4%;
}
.vitem1 input{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 68%;
    margin-left: 20px;
    margin-top:10px ;
    border-radius: 4px;
}
.vitem1 label{
    margin-left: 1%;
    color: gray;
}
.vitem2 {
    margin-top: 3%;
}
.vitem2 input{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 68%;
    margin-left: 50px;
    border-radius: 4px;
}
.vitem2 label{
    margin-left: 16px;
    color: gray;
}
.vitem3 {
    grid-area: item3;
    margin-top: 3%;
}
.vitem3 input{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 68%;
    margin-left: 37px;
    border-radius: 4px;
}
.vitem3 label{
    margin-left: 1%;
    color: gray;
}
.vitem4 {
    margin-top: 1%;
}

.vitem4 textarea {
    padding-bottom: 1%;
    padding-right: 68%;
    margin-left: 22px; /* Center the text area */
    margin-right: auto; /* Center the text area */
    border-radius: 4px;
    margin-top: 5px; /* Adjust spacing if needed */
}
.vitem4 label{
    margin-left:14px;
    color: gray;
}

.vitem5 {
    text-align: center;
}
.useFontAwesomeFamily::placeholder {
    font-family: "Font Awesome 5 Brands" !important;
}
img{width:100%}

.d-none{
    display: none;
}

#updateBook{
    background-color: black;
    margin-top: 10px;
}
.btn{
    display: flex;
    flex-direction: column;
}
.bt{
    margin-top: 4px;
    text-align: center;
}