body {
    font-family: Arial, Helvetica, sans-serif;
}
.container1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/main-page-bg.jpeg);
    background-size: cover;
    color: white;
    margin-bottom: 100px;
}
.container1 .caption {
    background-color: rgba(33, 33, 33, 0.666);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 2px;
}
.container1 .caption p:nth-of-type(2) {
    width: 60%;
    line-height: 1.5;
}
#arrow{
    background-color: #bd551d;
    border: none;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding-left: 15px;
    cursor: pointer;
    display: none;
}
.container2 {
    background-color: #009ea3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 50px;
    color: white;
    margin-bottom: 100px;
}
.container2 .image {
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.container2 .image img {
    width: 80%;
}
.container2 .caption {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container2 .caption h2 , h1 , .container4 .caption h2 {
    font-family: "Alegreya", serif;
    letter-spacing: 2px;
}
.container2 .caption h2 {
    font-size: 35px;
}
.container2 .caption p , .container4 .caption p {
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 18px;
}
.container2 .caption .part1 p:first-of-type , .container4 .caption p:first-of-type {
    width: 70%;
}
.container2 li , .container4 li {
    margin-bottom: 20px;
}
.container2 ul , .container4 ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
}
.container3{
    display: flex;
    width: 100%;
    background-color: #009ea3;
    justify-content: center;
}
.body1{
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 5%;
}
.books{
    width: 35%;
}
.btn{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bt{
    padding: 10px 40px;
    border: 1px solid blueviolet;
    background-color:blueviolet;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}
.container4 {
    background-color: #009ea3;
    display: flex;
    color: white;
    justify-content: space-around;
    padding: 40px;
    gap: 30px;
}
.container4 .caption p:nth-of-type(2) {
    margin: 40px 0px;
    font-weight: 700;
    text-decoration: underline;
}
.container4 .caption ul li i , .container2 .caption ul li i{
    padding: 10px;
    border-radius: 50%;
    background-color: #ba531b;
    transition-duration: 0.5s;
}
.container4 .caption ul li:hover i , .container2 .caption ul li:hover i{
    background-color: #009ea3;
}